<div>
    <table class="table" ng-controller="p3Controller">
        <thead>
        <tr style="display: table-row;">
            <th>#</th>
            <th>{{direktverkauf()}}</th>
            <th style="display: table-cell;">
                <br>
            </th>
            <th>{{vertriebswunsch()}}
            </th>
            <th style="display: table-cell;">
                <br>
            </th>
            <th style="display: table-cell;">
                ({{warteschlange()}})
            </th>
            <th style="display: table-cell;">
                <br>
            </th>
            <th>{{planLagerbestand()}}
            </th>
            <th style="display: table-cell;">
                <br>
            </th>
            <th>{{istLagerbestand()}}
            </th>
            <th style="display: table-cell;">
                <br>
            </th>
            <th style="display: table-cell;">{{warteschlange()}}
            </th>
            <th style="display: table-cell;">
                <br>
            </th>
            <th style="display: table-cell;">{{bearbeitung()}}
            </th>
            <th style="display: table-cell;">
                <br>
            </th>
            <th style="display: table-cell;">{{produktionsprogramm()}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr style="display: table-row;">
            <td>P3</td>
            <td>
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="p3Direktverkauf">
            </td>
            <td><br>+</td>
            <td>
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="p3Absatz">
            </td>
            <td>
                <br>
            </td>
            <td><br>+</td>
            <td style="display: table-cell;"></td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="p3PlanLagerbestand">
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="p3IstLagerbestand" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="p3Warteschlange" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="p3Bearbeitung" READONLY>
            </td>
            <td style="display: table-cell;">=</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{p3_Plan()}}" READONLY>
            </td>
        </tr>
        <tr>
            <td>E26</td>
            <td></td>
            <td></td>
            <td>
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{p3_Plan()}}" READONLY>
            </td>
            <td>
                +
            </td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{p3_Warteschlange()}}" READONLY>
            </td>
            <td style="display: table-cell;">+</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e26PlanLagerbestand"><br>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e26IstLagerbestand" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e26Warteschlange" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e26Bearbeitung" READONLY>
            </td>
            <td style="display: table-cell;">=</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e26_Plan()}}" READONLY>
            </td>
        </tr>
        <tr>
            <td>E31</td>
            <td></td>
            <td></td>
            <td>
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{p3_Plan()}}" READONLY>
            </td>
            <td>
                +
            </td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{p3_Warteschlange()}}" READONLY>
            </td>
            <td style="display: table-cell;">+</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e31PlanLagerbestand">
                <br>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e31IstLagerbestand" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e31Warteschlange" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e31Bearbeitung" READONLY>
            </td>
            <td style="display: table-cell;">=</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e31_Plan()}}" READONLY>
            </td>
        </tr>
        <tr style="display: table-row;">
            <td>E16</td>
            <td></td>
            <td></td>
            <td>
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e31_Plan()}}" READONLY>
            </td>
            <td>
                +
            </td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e31_Warteschlange()}}" READONLY>
            </td>
            <td style="display: table-cell;">+</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e16PlanLagerbestand">
                <br>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e16IstLagerbestand" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e16Warteschlange" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e16Bearbeitung" READONLY>
            </td>
            <td style="display: table-cell;">=</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e16_Plan()}}" READONLY>
            </td>
        </tr>
        <tr style="display: table-row;">
            <td>E17</td>
            <td></td>
            <td></td>
            <td>
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e31_Plan()}}" READONLY>
            </td>
            <td>
                +
            </td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e31_Warteschlange()}}" READONLY>
            </td>
            <td style="display: table-cell;">+</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e17PlanLagerbestand">
                <br>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e17IstLagerbestand" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e17Warteschlange" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e17Bearbeitung" READONLY>
            </td>
            <td style="display: table-cell;">=</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e17_Plan()}}" READONLY>
            </td>
        </tr>
        <tr style="display: table-row;">
            <td>E30</td>
            <td></td>
            <td></td>
            <td>
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e31_Plan()}}" READONLY>
            </td>
            <td>
                +
            </td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e31_Warteschlange()}}" READONLY>
            </td>
            <td style="display: table-cell;">+</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e30PlanLagerbestand">
                <br>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e30IstLagerbestand" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e30Warteschlange" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e30Bearbeitung" READONLY>
            </td>
            <td style="display: table-cell;">=</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e30_Plan()}}" READONLY>
            </td>
        </tr>
        <tr style="display: table-row;">
            <td>E5</td>
            <td></td>
            <td></td>
            <td>
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e30_Plan()}}" READONLY>
            </td>
            <td>
                +
            </td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e30_Warteschlange()}}" READONLY>
            </td>
            <td style="display: table-cell;">+</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e6PlanLagerbestand">
                <br>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e6IstLagerbestand" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e6Warteschlange" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e6Bearbeitung" READONLY>
            </td>
            <td style="display: table-cell;">=</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e6_Plan()}}" READONLY>
            </td>
        </tr>
        <tr style="display: table-row;">
            <td>E12</td>
            <td></td>
            <td></td>
            <td>
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e30_Plan()}}" READONLY>
            </td>
            <td>
                +
            </td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e30_Warteschlange()}}" READONLY>
            </td>
            <td style="display: table-cell;">+</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e12PlanLagerbestand">
                <br>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e12IstLagerbestand" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e12Warteschlange" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e12Bearbeitung" READONLY>
            </td>
            <td style="display: table-cell;">=</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e12_Plan()}}" READONLY>
            </td>
        </tr>
        <tr style="display: table-row;">
            <td>E29</td>
            <td></td>
            <td></td>
            <td>
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e30_Plan()}}" READONLY>
            </td>
            <td>
                +
            </td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e30_Warteschlange()}}" READONLY>
            </td>
            <td style="display: table-cell;">+</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e29PlanLagerbestand">
                <br>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e29IstLagerbestand" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e29Warteschlange" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e29Bearbeitung" READONLY>
            </td>
            <td style="display: table-cell;">=</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e29_Plan()}}" READONLY>
            </td>
        </tr>
        <tr style="display: table-row;">
            <td>E9</td>
            <td></td>
            <td></td>
            <td>
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e29_Plan()}}" READONLY>
            </td>
            <td>
                +
            </td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e29_Warteschlange()}}" READONLY>
            </td>
            <td style="display: table-cell;">+</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e9PlanLagerbestand">
                <br>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e9IstLagerbestand" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e9Warteschlange" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e9Bearbeitung" READONLY>
            </td>
            <td style="display: table-cell;">=</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e9_Plan()}}" READONLY>
            </td>
        </tr>
        <tr style="display: table-row;">
            <td>E15</td>
            <td></td>
            <td></td>
            <td>
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e29_Plan()}}" READONLY>
            </td>
            <td>
                +
            </td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e29_Warteschlange()}}" READONLY>
            </td>
            <td style="display: table-cell;">+</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e15PlanLagerbestand">
                <br>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e15IstLagerbestand" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e15Warteschlange" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e15Bearbeitung" READONLY>
            </td>
            <td style="display: table-cell;">=</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e15_Plan()}}" READONLY>
            </td>
        </tr>
        <tr style="display: table-row;">
            <td>E20</td>
            <td></td>
            <td></td>
            <td>
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e29_Plan()}}" READONLY>
            </td>
            <td>
                +
            </td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e29_Warteschlange()}}" READONLY>
            </td>
            <td style="display: table-cell;">+</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e20PlanLagerbestand">
                <br>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e20IstLagerbestand" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e20Warteschlange" READONLY>
            </td>
            <td style="display: table-cell;">-</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" ng-model="e20Bearbeitung" READONLY>
            </td>
            <td style="display: table-cell;">=</td>
            <td style="display: table-cell;">
                <input type="text" class="form-control" placeholder="Placeholder text" value="{{e20_Plan()}}" READONLY>
            </td>
        </tr>
        </tbody>
    </table>
</div>