</style> <!-- Ugly Hack due to jsFiddle issue: http://goo.gl/BUfGZ -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
<style>
body {
    font-family: Helvetica,Arial;
    font-size: 10pt;
}

ul {
    margin:0;
    padding:0;
}

li {
    margin:0;
    padding:0;
    list-style: none;
    text-align: center;
    line-height:27px;
    cursor: pointer;
    border-radius: 4px;
    border:1px solid #111;
    background-color: #2581cc;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0B5BA1), to(#012238));
    background-image: -moz-linear-gradient(19% 75% 90deg,#012238, #0B5BA1);
    box-shadow: inset 0 1px 0 0 #a5b9d9;
}

li:hover {
    background-color: #458cff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0D6CBF), to(#023F69));
    background-image: -moz-linear-gradient(19% 75% 90deg,#023F69, #0D6CBF)
}

li:active {
    background-color: #333;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#111111));
    background-image: -moz-linear-gradient(19% 75% 90deg,#111111, #666666)
}

li:hover {
    background-color: #458cff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0D6CBF), to(#023F69));
    background-image: -moz-linear-gradient(19% 75% 90deg,#023F69, #0D6CBF)
}

li:active {
    background-color: #333;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#111111));
    background-image: -moz-linear-gradient(19% 75% 90deg,#111111, #666666)
}

.main {
    float: left;
    margin-top:5px;
    width:78px;
}

.sub {
    margin:0;
    width:120px;
    background-color: #220630;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6C1299), to(#220630));
    background-image: -moz-linear-gradient(19% 75% 90deg,#220630, #6C1299)
}

.sub:hover {
    background-color: #450C61;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8C17C7), to(#450C61));
    background-image: -moz-linear-gradient(19% 75% 90deg,#450C61, #8C17C7)
}

.sub:active {
    background-color: #111;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#111111));
    background-image: -moz-linear-gradient(19% 75% 90deg,#111111, #666666)
}

.btn {
    color:#fff;
    text-decoration: none;
}

.fullwidth {
    /* inline-block allows the anchor tag to fill
     the entire width of the list item */
    display:inline-block;
    width:100%;
}
