<div class="container" ng-controller="xmlController">

    <div class="form-group">
        <label class="control-label" for="formInput13">XML Input</label>

        <textarea class="form-control" rows="10" id="formInput13" ng-model="xmlinput"></textarea>
        <button type="button" class="btn btn-default" style="display: inline-block;" ng-click="onButtonImport()">
            Import
        </button>
        <button type="button" class="btn btn-default" style="display: inline-block;" ng-click="onButtonReset()">Reset
        </button>

        <div><br>
        <input type="file" id="file" name="file"/>
        <button type="button" class="btn btn-default" style="display: inline-block;" ng-click="add()">Add</button>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr data-pg-collapsed="">
            <th></th>
            <th colspan="1">{{vertriebswunsch()}}</th>
            <th colspan="4">{{direktverkauf()}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td>{{menge()}}</td>
            <td>{{preis()}}</td>
            <td>{{konventionalstrafe()}}</td>
        </tr>
        <tr>
            <td>P1</td>
            <td><input type="text" class="form-control" value="0" ng-model="p1InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="p1DirektMengeValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="p1DirektPreisValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="p1DirektKonvetionalstrafeValue"></td>
        </tr>
        <tr>
            <td>P2</td>
            <td><input type="text" class="form-control" value="0" ng-model="p2InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="p2DirektMengeValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="p2DirektPreisValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="p2DirektKonvetionalstrafeValue"></td>
        </tr>
        <tr>
            <td>P3</td>
            <td><input type="text" class="form-control" value="0" ng-model="p3InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="p3DirektMengeValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="p3DirektPreisValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="p3DirektKonvetionalstrafeValue"></td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
        <tr data-pg-collapsed="">
            <th colspan="6">{{bestellungen()}}</th>
        </tr>
        <tr data-pg-collapsed="">
            <th>{{artikel()}}</th>
            <th>{{menge()}}</th>
            <th>{{modus()}}</th>
            <th>{{artikel()}}</th>
            <th>{{menge()}}</th>
            <th>{{modus()}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="a1InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q1InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m1selectedOption"></select></td>
            <td><input type="text" class="form-control" value="0" ng-model="a16InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q16InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m16selectedOption"></select></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="a2InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q2InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m2selectedOption"></select></td>
            <td><input type="text" class="form-control" value="0" ng-model="a17InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q17InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m17selectedOption"></select></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="a3InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q3InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m3selectedOption"></select></td>
            <td><input type="text" class="form-control" value="0" ng-model="a18InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q18InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m18selectedOption"></select></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="a4InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q4InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m4selectedOption"></select></td>
            <td><input type="text" class="form-control" value="0" ng-model="a19InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q19InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m19selectedOption"></select></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="a5InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q5InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m5selectedOption"></select></td>
            <td><input type="text" class="form-control" value="0" ng-model="a20InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q20InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m20selectedOption"></select></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="a6InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q6InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m6selectedOption"></select></td>
            <td><input type="text" class="form-control" value="0" ng-model="a21InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q21InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m21selectedOption"></select></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="a7InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q7InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m7selectedOption"></select></td>
            <td><input type="text" class="form-control" value="0" ng-model="a22InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q22InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m22selectedOption"></select></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="a8InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q8InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m8selectedOption"></select></td>
            <td><input type="text" class="form-control" value="0" ng-model="a23InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q23InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m23selectedOption"></select></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="a9InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q9InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m9selectedOption"></select></td>
            <td><input type="text" class="form-control" value="0" ng-model="a24InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q24InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m24selectedOption"></select></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="a10InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q10InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m10selectedOption"></select></td>
            <td><input type="text" class="form-control" value="0" ng-model="a25InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q25InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m25selectedOption"></select></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="a11InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q11InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m11selectedOption"></select></td>
            <td><input type="text" class="form-control" value="0" ng-model="a26InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q26InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m26selectedOption"></select></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="a12InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q12InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m12selectedOption"></select></td>
            <td><input type="text" class="form-control" value="0" ng-model="a27InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q27InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m27selectedOption"></select></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="a13InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q13InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m13selectedOption"></select></td>
            <td><input type="text" class="form-control" value="0" ng-model="a28InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q28InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m28selectedOption"></select></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="a14InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q14InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m14selectedOption"></select></td>
            <td><input type="text" class="form-control" value="0" ng-model="a29InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q29InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m29selectedOption"></select></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="a15InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q15InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m15selectedOption"></select></td>
            <td><input type="text" class="form-control" value="0" ng-model="a30InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="q30InputValue"></td>
            <td><select data-ng-options="o.name for o in options" data-ng-model="m30selectedOption"></select></td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
        <tr data-pg-collapsed="">
            <th colspan="4">{{fertigungsauftraege()}}</th>
        </tr>
        <tr data-pg-collapsed="">
            <th>{{artikel()}}</th>
            <th>{{menge()}}</th>
            <th>{{artikel()}}</th>
            <th>{{menge()}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa1InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq1InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa16InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq16InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa2InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq2InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa17InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq17InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa3InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq3InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa18InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq18InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa4InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq4InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa19InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq19InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa5InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq5InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa20InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq20InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa6InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq6InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa21InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq21InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa7InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq7InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa22InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq22InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa8InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq8InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa23InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq23InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa9InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq9InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa24InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq24InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa10InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq10InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa25InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq25InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa11InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq11InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa26InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq26InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa12InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq12InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa27InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq27InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa13InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq13InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa28InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq28InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa14InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq14InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa29InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq29InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa15InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq15InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa30InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq30InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa31InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq31InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa32InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq32InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa33InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq33InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa34InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq34InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa35InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq35InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa36InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq36InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa37InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq37InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa38InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq38InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa39InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq39InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa40InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq40InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa41InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq41InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa42InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq42InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa41InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq41InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa42InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq42InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa43InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq43InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa44InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq44InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa45InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq45InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa46InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq46InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa47InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq47InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa48InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq48InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa49InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq49InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa50InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq50InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa51InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq51InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa52InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq52InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa53InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq53InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa54InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq54InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa55InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq55InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa56InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq56InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa57InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq57InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa58InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq58InputValue"></td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" value="0" ng-model="fa59InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq59InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fa60InputValue"></td>
            <td><input type="text" class="form-control" value="0" ng-model="fq60InputValue"></td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
        <tr data-pg-collapsed="">
            <th>{{arbeitsplatz()}}</th>
            <th>{{schicht()}}</th>
            <th>{{ueberstunden()}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td><input type="text" class="form-control" value="0" ng-model="schichtarbeitsplatz1"></td>
            <td><input type="text" class="form-control" value="0" ng-model="ueberstundenarbeitsplatz1"></td>
        </tr>
        <tr>
            <td>2</td>
            <td><input type="text" class="form-control" value="0" ng-model="schichtarbeitsplatz2"></td>
            <td><input type="text" class="form-control" value="0" ng-model="ueberstundenarbeitsplatz2"></td>
        </tr>
        <tr>
            <td>3</td>
            <td><input type="text" class="form-control" value="0" ng-model="schichtarbeitsplatz3"></td>
            <td><input type="text" class="form-control" value="0" ng-model="ueberstundenarbeitsplatz3"></td>
        </tr>
        <tr>
            <td>4</td>
            <td><input type="text" class="form-control" value="0" ng-model="schichtarbeitsplatz4"></td>
            <td><input type="text" class="form-control" value="0" ng-model="ueberstundenarbeitsplatz4"></td>
        </tr>
        <tr>
            <td>5</td>
            <td><input type="text" class="form-control" value="0" ng-model="schichtarbeitsplatz5"></td>
            <td><input type="text" class="form-control" value="0" ng-model="ueberstundenarbeitsplatz5"></td>
        </tr>
        <tr>
            <td>6</td>
            <td><input type="text" class="form-control" value="0" ng-model="schichtarbeitsplatz6"></td>
            <td><input type="text" class="form-control" value="0" ng-model="ueberstundenarbeitsplatz6"></td>
        </tr>
        <tr>
            <td>7</td>
            <td><input type="text" class="form-control" value="0" ng-model="schichtarbeitsplatz7"></td>
            <td><input type="text" class="form-control" value="0" ng-model="ueberstundenarbeitsplatz7"></td>
        </tr>
        <tr>
            <td>8</td>
            <td><input type="text" class="form-control" value="0" ng-model="schichtarbeitsplatz8"></td>
            <td><input type="text" class="form-control" value="0" ng-model="ueberstundenarbeitsplatz8"></td>
        </tr>
        <tr>
            <td>9</td>
            <td><input type="text" class="form-control" value="0" ng-model="schichtarbeitsplatz9"></td>
            <td><input type="text" class="form-control" value="0" ng-model="ueberstundenarbeitsplatz9"></td>
        </tr>
        <tr>
            <td>10</td>
            <td><input type="text" class="form-control" value="0" ng-model="schichtarbeitsplatz10"></td>
            <td><input type="text" class="form-control" value="0" ng-model="ueberstundenarbeitsplatz10"></td>
        </tr>
        <tr>
            <td>11</td>
            <td><input type="text" class="form-control" value="0" ng-model="schichtarbeitsplatz11"></td>
            <td><input type="text" class="form-control" value="0" ng-model="ueberstundenarbeitsplatz11"></td>
        </tr>
        <tr>
            <td>12</td>
            <td><input type="text" class="form-control" value="0" ng-model="schichtarbeitsplatz12"></td>
            <td><input type="text" class="form-control" value="0" ng-model="ueberstundenarbeitsplatz12"></td>
        </tr>
        <tr>
            <td>13</td>
            <td><input type="text" class="form-control" value="0" ng-model="schichtarbeitsplatz13"></td>
            <td><input type="text" class="form-control" value="0" ng-model="ueberstundenarbeitsplatz13"></td>
        </tr>
        <tr>
            <td>14</td>
            <td><input type="text" class="form-control" value="0" ng-model="schichtarbeitsplatz14"></td>
            <td><input type="text" class="form-control" value="0" ng-model="ueberstundenarbeitsplatz14"></td>
        </tr>
        <tr>
            <td>15</td>
            <td><input type="text" class="form-control" value="0" ng-model="schichtarbeitsplatz15"></td>
            <td><input type="text" class="form-control" value="0" ng-model="ueberstundenarbeitsplatz15"></td>
        </tr>
        </tbody>
    </table>
    <!--<button type="button" class="btn btn-default" style="display: inline-block;" ng-click="dlWindow()">Export
    </button>-->
    <!--<my-download id="content" get-data="getBlob()" />-->
    <button type="button" class="btn btn-default" style="display: inline-block;" ng-click="export()">
        Export
    </button>
    <button type="button" class="btn btn-default" style="display: inline-block;" ng-click="calculate()">
        Calculated Values
    </button>
</div>