<h1 >FertigungsAufträge</h1>

<div>

</div>
<div>

    <div class="container">
        <table align="center" class="table table-striped table-hover ">
            <tr>
                <th>Erzeugnis</th>
                <th>anzahl</th>
                <th>Priorität</th>
            </tr>
            <tbody>
            <tr ng-repeat="auftrag in fac.auftraege">
                <td>{{auftrag.erzeugnis_id}}</td>
                <td>{{auftrag.anzahl}}</td>
                <td>{{auftrag.prioritaet}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
