<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{'productionOrders_headline'|translate}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/#/">Home</a>
            </li>
            <li>
                <a href="#/disposition">{{'disposition_Headline'|translate}}</a>
            </li>
            <li class="active">
                <strong>{{'productionOrders_headline'|translate}}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>{{'productionOrders_headline'|translate}}</h5>
                </div>

                <div class="ibox-title">             
                    <ul class="nav nav-tabs">
                        <li class="active" ng-click="fac.tab=1">
                            <a data-toggle="tab" href="" aria-expanded="true">Splitten</a>
                        </li>
                        <li ng-click="fac.tab=2">
                            <a data-toggle="tab" href="" aria-expanded="true">Priorisieren</a>
                        </li>
                    </ul>
                </div>

                <div class="ibox-content" ng-if="fac.tab==1">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{'productionOrders_workingPlace'|translate}}</th>
                                <th>{{'productionOrders_Id'|translate}}</th>
                                <th>{{'productionOrders_amount'|translate}}</th>
                            
                                <th>{{'productionOrders_productionPosition'|translate}}</th>
                                <th>{{'productionOrders_details'|translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="model in fac.models">
                                <td style="cursor:pointer;" ng-click="fac.oeffnen(model.auftrag.erzeugnis_id)">{{model.auftrag.arbeitsplatz_id}}</td>
                                <td style="cursor:pointer;" ng-click="fac.oeffnen(model.auftrag.erzeugnis_id)">{{model.auftrag.erzeugnis_id}}</td>
                                <td style="cursor:pointer;" ng-click="fac.oeffnen(model.auftrag.erzeugnis_id)">{{model.auftrag.anzahl}}</td>                                
                                <td>
                                    <input class="form-control" ng-model="model.split" ng-keyup="fac.aendern();" min="0">
                                </td>
                                <td style="cursor:pointer;" ng-click="fac.oeffnen(model.auftrag.erzeugnis_id)">
                                    <i class="fa fa-cog fa-2x" style="width:40px"></i>
                                </td>
                            </tr>
                            <tr id="fac_{{model.auftrag.erzeugnis_id}}" hidden="true" tr ng-repeat-end>
                                <td colspan="12">
                                    <div class="row">
                                        <div class="ibox-content" style="background-color:#F5F5F5">
                                            <h3>{{'productionOrders_orderPosition'|translate}}</h3>
                                            <table class="table table-hover" style="background-color:#F5F5F5">
                                                <thead>
                                                    <th>{{'productionOrders_amount'|translate}}</th>
                                                   
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="auftrag in model.auftraege">
                                                        <td>{{auftrag.anzahl}}</td>                                                        
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ibox-content" ng-if="fac.tab==2" ">
                    <div class="dd" >
                        <table class="table">
                            <thead>
                                <th style="width:20%">{{'productionOrders_Id'|translate}}</th>
                                <th style="width:20%">{{'productionOrders_workingPlace'|translate}}</th>
                                <th style="width:20%">{{'productionOrders_amount'|translate}}</th>
                            </thead>
                        </table>
                        <ul style="margin-top:-21px" class="dd-list" ui-sortable ng-model="fac.auftragService.auftraegeExport" >                           
                        <li style="cursor:pointer;" class="dd-item"  ng-repeat="item in fac.getAE()" >
                            <table class="table table-hover">
                                <tr ng-mouseleave="fac.onDrag()">
                                    <td style="width:20%">{{item.erzeugnis_id}}</td>
                                    <td style="width:20%">{{item.arbeitsplatz_id}}</td>
                                    <td style="width:20%">{{item.anzahl}}</td>
                                </tr>                                                             
                            </table> 
                        </li>
                        </ul>                    
                    </div>
                </div>   
              </div>
        </div> 
    </div>
</div>