<section>
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-10">
			<h2>{{'orderOverview_headline'|translate}}</h2>
			<ol class="breadcrumb">
				<li>
					<a href="/#/">Home</a>
				</li>
				<li>
					<a>{{'NAV_OrderManagment'|translate}}</a>
				</li>
				<li class="active">
					<strong>{{'orderOverview_headline'|translate}}</strong>
				</li>
			</ol>
		</div>
	</div>
	<div class="wrapper-content animated fadeInRight">
		<div class="row">
			<div class="ibox">
				<div class="ibox-title"><h2>{{'orderOverview_keydataHeadline'|translate}}</h2></div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-lg-6">
							<div class="widget lazur-bg p-xl">
								<h2>{{'orderOverview_numberNewOrders'|translate}} {{buc.anzahlNeuBestellungen}}</h2>
								<ul>
									<li>{{'orderOverview_numberNormalOrders'|translate}} {{buc.anzahlNormalBestellungen}}</li>
									<li>{{'orderOverview_numberFastOrders'|translate}} {{buc.anzahlEilBestellungen}}</li>
								</ul>
							</div>
						</div><!-- /col-->
						<div class="col-lg-6">
							<div class="widget lazur-bg p-xl">
								<h2>{{'orderOverview_totalCosts'|translate}} {{buc.gesamtKosten | currency:"€"}}</h2>
								<ul>
									<li>{{'orderOverview_numberNormalOrders'|translate}} {{buc.normalKosten | currency:"€"}}</li>
									<li>{{'orderOverview_numberFastOrders'|translate}} {{buc.eilKosten | currency:"€"}}</li>
								</ul>
							</div>
						</div><!-- /col-->
					</div><!-- /row-->
 				</div><!-- /ibox-content-->
			</div><!-- /ibox-->
		</div><!-- /row-->
		<div class="row">
			<div class="ibox">
				<div class="ibox-title"><h2>{{'orderOverview_Orders'|translate}}</h2>
					<ul class="nav nav-tabs">
						<li class="active" ng-click="buc.tabOnClick('neueBestellungen')">
							<a data-toggle="tab" href="" aria-expanded="true">{{'orderOverview_newOrdersTab'|translate}}</a>
						</li>
						<li ng-click="buc.tabOnClick('laufendeBestellungen')">
							<a data-toggle="tab" href="" aria-expanded="true">{{'orderOverview_ongoingOrdersTab'|translate}}</a>
						</li>
						<li ng-click="buc.tabOnClick('lagerZugang')">
							<a data-toggle="tab" href="" aria-expanded="true">{{'orderOverview_inwardStockMovementTab'|translate}}</a>
						</li>
						<li ng-click="buc.tabOnClick('teileWertEntwicklung')">
							<a data-toggle="tab" href="" aria-expanded="true">{{'orderOverview_partialValueTab'|translate}}</a>
						</li>
					</ul>
				</div>
				<div class="ibox-content" ng-if="buc.showTab.neueBestellungen">
					<table class="table table-bordered table-hover text-center table-condensed">
						<tr>
							<th class="text-center">{{'orderOverview_partID'|translate}}</th>
							<th class="text-center">{{'orderOverview_fast'|translate}}</th>
							<th class="text-center">{{' orderOverview_amount'|translate}}</th>
							<th class="text-center">{{'orderOverview_orderCosts'|translate}}</th>
							<th class="text-center">{{'orderOverview_materialCosts'|translate}}</th>
							<th class="text-center">{{'orderOverview_totalCosts'|translate}}</th>
							<th class="text-center">{{'orderOverview_pieceCosts'|translate}}</th>
						</tr>
						<tr ng-repeat="bestellung in buc.neueBestellungen">
							<td>{{bestellung.teil_id}}</td>
							<td>
								<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="bestellung.eil"></span>
										<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-if="!bestellung.eil"></span>
							</td>
							<td>{{bestellung.menge}}</td>
							<td>{{buc.getBestellKosten(bestellung) | currency:"€"}}</td>
							<td>{{buc.getMaterialKosten(bestellung) | currency:"€"}}</td>
							<td>{{bestellung.kosten | currency:"€"}}</td>
							<td>{{buc.getStueckKosten(bestellung) | currency:"€"}}</td>
						</tr>
					</table>
				</div><!-- /ibox-content-->
				<div class="ibox-content" ng-if="buc.showTab.laufendeBestellungen">
					<table class="table table-bordered table-hover text-center table-condensed">
						<tr>
							<th class="text-center">ID</th>
							<th class="text-center">{{'orderOverview_partID'|translate}}</th>
							<th class="text-center">{{'orderOverview_orderPeriode'|translate}}</th>
							<th class="text-center">{{'orderOverview_fast'|translate}}</th>
							<th class="text-center">{{'orderOverview_amount'|translate}}</th>
							<th class="text-center">{{'orderOverview_orderCosts'|translate}}</th>
							<th class="text-center">{{'orderOverview_materialCosts'|translate}}</th>
							<th class="text-center">{{'orderOverview_totalCosts'|translate}}</th>
							<th class="text-center">{{'orderOverview_pieceCosts'|translate}}</th>
						</tr>
						<tr ng-repeat="bestellung in buc.laufendeBestellungen">
							<td>{{bestellung.id}}</td>
							<td>{{bestellung.teil_id}}</td>
							<td>{{bestellung.periode}}</td>
							<td>
								<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="bestellung.eil"></span>
								<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-if="!bestellung.eil"></span>
							</td>
							<td>{{bestellung.menge}}</td>
							<td>{{bestellung.bestellKosten | currency:"€"}}</td>
							<td>{{bestellung.materialKosten | currency:"€"}}</td>
							<td>{{bestellung.gesamtKosten | currency:"€"}}</td>
							<td>{{bestellung.stueckKosten | currency:"€"}}</td>
						</tr>
					</table>
				</div><!-- /ibox-content-->
				<div class="ibox-content" ng-if="buc.showTab.lagerZugang">
					<table  class="table table-bordered table-hover text-center table-condensed">
						<tr>
							<th class="text-center">ID</th>
							<th class="text-center">{{'orderOverview_partID'|translate}}</th>
							<th class="text-center">{{'orderOverview_orderPeriode'|translate}}</th>
							<th class="text-center">{{'orderOverview_fast'|translate}}</th>
							<th class="text-center">{{'orderOverview_amount'|translate}}</th>
							<th class="text-center">{{'orderOverview_orderCosts'|translate}}</th>
							<th class="text-center">{{'orderOverview_materialCosts'|translate}}</th>
							<th class="text-center">{{'orderOverview_totalCosts'|translate}}</th>
							<th class="text-center">{{'orderOverview_pieceCosts'|translate}}</th>
						</tr>
						<tr ng-repeat="bestellung in buc.lagerZugang">
							<td>{{bestellung.id}}</td>
							<td>{{bestellung.teil_id}}</td>
							<td>{{bestellung.bestellPeriode}}</td>
							<td>
								<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="bestellung.eil"></span>
								<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-if="!bestellung.eil"></span>
							</td>
							<td>{{bestellung.menge}}</td>
							<td>{{bestellung.bestellKosten | currency:"€"}}</td>
							<td>{{bestellung.materialKosten | currency:"€"}}</td>
							<td>{{bestellung.gesamtKosten | currency:"€"}}</td>
							<td>{{bestellung.stueckKosten | currency:"€"}}</td>
						</tr>	
					</table>
				</div><!-- /ibox-content-->
				<div class="ibox-content" ng-if="buc.showTab.teileWertEntwicklung">
					<table  class="table table-bordered table-hover text-center table-condensed">
						<tr>
							<th class="text-center">{{'orderOverview_partID'|translate}}</th>
							<th class="text-center">{{'orderOverview_actualPartialValue'|translate}}</th>
							<th class="text-center">{{'orderOverview_partialValueNewOrders'|translate}}</th>
							<th class="text-center">{{'orderOverview_partialValueOngoingOrders'|translate}}</th>
							<th class="text-center">{{'orderOverview_partialValueNewAndOngoingOrders'|translate}}</th>
						</tr>
						<tr ng-repeat="teil in buc.kaufTeile">
							<td>{{teil.id}}</td>
							<td>{{teil.teileWert | currency:"€"}}</td>
							<td>{{buc.getTeileWertMitNeuenBestellungen(teil) | currency:"€"}}</td>
							<td>{{buc.getTeileWertMitLaufendenBestellungen(teil) | currency:"€"}}</td>
							<td>{{buc.getTeileWertMitLaufendenUndNeuenBestellungen(teil) | currency:"€"}}</td>
						</tr>
					</table>
				</div><!-- /ibox-content-->
			</div><!-- /ibox-->
		</div><!-- /row-->
	</div>
</section>