<section>
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-10">
			<h2>Bestellüberblick</h2>
			<ol class="breadcrumb">
				<li>
					<a href="/#/">Home</a>
				</li>
				<li>
					<a>Bestellverwaltung</a>
				</li>
				<li class="active">
					<strong>Bestellüberblick</strong>
				</li>
			</ol>
		</div>
	</div>
	<div class="wrapper-content animated fadeInRight">
		<div class="row">
			<div class="ibox">
				<div class="ibox-title"><h2>Kennzahlen neue Bestellungen</h2></div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-lg-6">
							<div class="widget lazur-bg p-xl">
								<h2>Anzahl: {{buc.anzahlNeuBestellungen}}</h2>
								<ul>
									<li>Normalbestellungen: {{buc.anzahlNormalBestellungen}}</li>
									<li>Eilbestellungen: {{buc.anzahlEilBestellungen}}</li>
								</ul>
							</div>
						</div><!-- /col-->
						<div class="col-lg-6">
							<div class="widget lazur-bg p-xl">
								<h2>Gesamtkosten: {{buc.gesamtKosten | currency:"€"}}</h2>
								<ul>
									<li>Normalbestellungen: {{buc.normalKosten | currency:"€"}}</li>
									<li>Eilbestellungen: {{buc.eilKosten | currency:"€"}}</li>
								</ul>
							</div>
						</div><!-- /col-->
					</div><!-- /row-->
 				</div><!-- /ibox-content-->
			</div><!-- /ibox-->
		</div><!-- /row-->
		<div class="row">
			<div class="ibox">
				<div class="ibox-title"><h2>Bestellungen</h2>
					<ul class="nav nav-tabs">
						<li class="active" ng-click="buc.tabOnClick('neueBestellungen')">
							<a data-toggle="tab" href="" aria-expanded="true">Neue Bestellungen</a>
						</li>
						<li ng-click="buc.tabOnClick('laufendeBestellungen')">
							<a data-toggle="tab" href="" aria-expanded="true">Laufende Bestellungen</a>
						</li>
						<li ng-click="buc.tabOnClick('lagerZugang')">
							<a data-toggle="tab" href="" aria-expanded="true">Lagerzugang</a>
						</li>
						<li ng-click="buc.tabOnClick('teileWertEntwicklung')">
							<a data-toggle="tab" href="" aria-expanded="true">Teilewertentwicklung</a>
						</li>
					</ul>
				</div>
				<div class="ibox-content" ng-if="buc.showTab.neueBestellungen">
					<table class="table table-bordered table-hover text-center table-condensed">
						<tr>
							<th class="text-center">Teil ID</th>
							<th class="text-center">Eil</th>
							<th class="text-center">Menge</th>
							<th class="text-center">Bestellkosten</th>
							<th class="text-center">Materialkosten</th>
							<th class="text-center">Gesamtkosten</th>
							<th class="text-center">Stückkosten</th>
						</tr>
						<tr ng-repeat="bestellung in buc.neueBestellungen">
							<td>{{bestellung.teil_id}}</td>
							<td>
								<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="bestellung.eil"></span>
										<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-if="!bestellung.eil"></span>
							</td>
							<td>{{bestellung.menge}}</td>
							<td>{{buc.getBestellKosten(bestellung) | currency:"€"}}</td>
							<td>{{buc.getMaterialKosten(bestellung) | currency:"€"}}</td>
							<td>{{bestellung.kosten | currency:"€"}}</td>
							<td>{{buc.getStueckKosten(bestellung) | currency:"€"}}</td>
						</tr>
					</table>
				</div><!-- /ibox-content-->
				<div class="ibox-content" ng-if="buc.showTab.laufendeBestellungen">
					<table class="table table-bordered table-hover text-center table-condensed">
						<tr>
							<th class="text-center">ID</th>
							<th class="text-center">Teil ID</th>
							<th class="text-center">Bestellperiode</th>
							<th class="text-center">Eil</th>
							<th class="text-center">Menge</th>
							<th class="text-center">Bestellkosten</th>
							<th class="text-center">Materialkosten</th>
							<th class="text-center">Gesamtkosten</th>
							<th class="text-center">Stückkosten</th>
						</tr>
						<tr ng-repeat="bestellung in buc.laufendeBestellungen">
							<td>{{bestellung.id}}</td>
							<td>{{bestellung.teil_id}}</td>
							<td>{{bestellung.periode}}</td>
							<td>
								<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="bestellung.eil"></span>
								<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-if="!bestellung.eil"></span>
							</td>
							<td>{{bestellung.menge}}</td>
							<td>{{bestellung.bestellKosten | currency:"€"}}</td>
							<td>{{bestellung.materialKosten | currency:"€"}}</td>
							<td>{{bestellung.gesamtKosten | currency:"€"}}</td>
							<td>{{bestellung.stueckKosten | currency:"€"}}</td>
						</tr>
					</table>
				</div><!-- /ibox-content-->
				<div class="ibox-content" ng-if="buc.showTab.lagerZugang">
					<table  class="table table-bordered table-hover text-center table-condensed">
						<tr>
							<th class="text-center">ID</th>
							<th class="text-center">Teil ID</th>
							<th class="text-center">Bestellperiode</th>
							<th class="text-center">Eil</th>
							<th class="text-center">Menge</th>
							<th class="text-center">Bestellkosten</th>
							<th class="text-center">Materialkosten</th>
							<th class="text-center">Gesamtkosten</th>
							<th class="text-center">Stückkosten</th>
						</tr>
						<tr ng-repeat="bestellung in buc.lagerZugang">
							<td>{{bestellung.id}}</td>
							<td>{{bestellung.teil_id}}</td>
							<td>{{bestellung.bestellPeriode}}</td>
							<td>
								<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="bestellung.eil"></span>
								<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-if="!bestellung.eil"></span>
							</td>
							<td>{{bestellung.menge}}</td>
							<td>{{bestellung.bestellKosten | currency:"€"}}</td>
							<td>{{bestellung.materialKosten | currency:"€"}}</td>
							<td>{{bestellung.gesamtKosten | currency:"€"}}</td>
							<td>{{bestellung.stueckKosten | currency:"€"}}</td>
						</tr>	
					</table>
				</div><!-- /ibox-content-->
				<div class="ibox-content" ng-if="buc.showTab.teileWertEntwicklung">
					<table  class="table table-bordered table-hover text-center table-condensed">
						<tr>
							<th class="text-center">Teil ID</th>
							<th class="text-center">Aktueller <br> Teilewert</th>
							<th class="text-center">Teilewert mit <br> neuen Bestellungen</th>
							<th class="text-center">Teilewert mit <br> laufenden Bestellungen</th>
							<th class="text-center">Teilewert mit <br> laufenden und neuen Bestellungen</th>
						</tr>
						<tr ng-repeat="teil in buc.kaufTeile">
							<td>{{teil.id}}</td>
							<td>{{teil.teileWert | currency:"€"}}</td>
							<td>{{buc.getTeileWertMitNeuenBestellungen(teil) | currency:"€"}}</td>
							<td>{{buc.getTeileWertMitLaufendenBestellungen(teil) | currency:"€"}}</td>
							<td>{{buc.getTeileWertMitLaufendenUndNeuenBestellungen(teil) | currency:"€"}}</td>
						</tr>
					</table>
				</div><!-- /ibox-content-->
			</div><!-- /ibox-->
		</div><!-- /row-->
	</div>
</section>