<meta charset="utf-8">
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Dashboard</h2>
		<ol class="breadcrumb">
			<li>
				<a href="/#/">Home</a>
			</li>
			<li class="active">
				<strong>Dashboard</strong>
			</li>
		</ol>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row" ng-if="!mctrl.isLoggedIn || mctrl.isLoggedIn && !hc.hasSimulationFiles">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="text-center">
							<h1>Herzlich Willkommen bei SCManager.de</h1>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>Erste Schritte</h5>
					</div>
					<div class="ibox-content" id="ibox-content">

						<div id="vertical-timeline" class="vertical-container dark-timeline center-orientation">
							<div class="vertical-timeline-block">
								<div class="vertical-timeline-icon navy-bg">
									<i class="fa fa-briefcase"></i>
								</div>

								<div class="vertical-timeline-content">
									<h2>Meeting</h2>
									<p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.
									</p>
									<a href="#" class="btn btn-sm btn-primary"> More info</a>
                                    <span class="vertical-date">
                                        Today <br/>
                                        <small>Dec 24</small>
                                    </span>
								</div>
							</div>

							<div class="vertical-timeline-block">
								<div class="vertical-timeline-icon blue-bg">
									<i class="fa fa-file-text"></i>
								</div>

								<div class="vertical-timeline-content">
									<h2>Send documents to Mike</h2>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
									<a href="#" class="btn btn-sm btn-success"> Download document </a>
                                    <span class="vertical-date">
                                        Today <br/>
                                        <small>Dec 24</small>
                                    </span>
								</div>
							</div>

							<div class="vertical-timeline-block">
								<div class="vertical-timeline-icon lazur-bg">
									<i class="fa fa-coffee"></i>
								</div>

								<div class="vertical-timeline-content">
									<h2>Coffee Break</h2>
									<p>Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
									<a href="#" class="btn btn-sm btn-info">Read more</a>
									<span class="vertical-date"> Yesterday <br/><small>Dec 23</small></span>
								</div>
							</div>

							<div class="vertical-timeline-block">
								<div class="vertical-timeline-icon yellow-bg">
									<i class="fa fa-phone"></i>
								</div>

								<div class="vertical-timeline-content">
									<h2>Phone with Jeronimo</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
									<span class="vertical-date">Yesterday <br/><small>Dec 23</small></span>
								</div>
							</div>

							<div class="vertical-timeline-block">
								<div class="vertical-timeline-icon lazur-bg">
									<i class="fa fa-user-md"></i>
								</div>

								<div class="vertical-timeline-content">
									<h2>Go to the doctor dr Smith</h2>
									<p>Find some issue and go to doctor. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
									<span class="vertical-date">Yesterday <br/><small>Dec 23</small></span>
								</div>
							</div>

							<div class="vertical-timeline-block">
								<div class="vertical-timeline-icon navy-bg">
									<i class="fa fa-comments"></i>
								</div>

								<div class="vertical-timeline-content">
									<h2>Chat with Monica and Sandra</h2>
									<p>Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
									<span class="vertical-date">Yesterday <br/><small>Dec 23</small></span>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-lg-6" ng-if="!mctrl.isLoggedIn">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>{{'dashboard_login'|translate}}</h5>
					</div>
					<div class="ibox-content">
						<div class="text-center">
							<a data-toggle="modal" class="btn btn-primary" href="/#/login">Login</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6" ng-if="mctrl.isLoggedIn && !hc.hasSimulationFiles">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>{{'dashboard_loadFile'|translate}}</h5>
					</div>
					<div class="ibox-content">
						<div class="text-center">
							<th>{{'dashboard_loadFileText'|translate}}</th>
						</div>
						<br>
						<div class="text-center">
							<a data-toggle="modal" class="btn btn-primary" href="/#/file">{{'dashboard_loadFileButton'|translate}}</a>
						</div>
					</div>
				</div>
			</div>
	</div>
	<div class="row" ng-if="mctrl.isLoggedIn && hc.hasSimulationFiles">
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-primary pull-right">{{'dashboard_period'|translate}} {{hc.getLatestPeriod()}}</span>
					<h5>{{'dashboard_stockValue'|translate}}</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">{{hc.getStockValue() | currency:'\u20AC'}}</h1>
					<div  ng-if="hc.getPercentageStockChange()>=0" class="stat-percent font-bold text-navy">{{hc.getPercentageStockChange() | number:2}}%<i class="fa fa-level-up"></i></div>
					<div  ng-if="hc.getPercentageStockChange()<0" class="stat-percent font-bold text-danger">{{hc.getPercentageStockChange() | number:2}}%<i class="fa fa-level-down"></i></div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-primary pull-right">{{'dashboard_period'|translate}} {{hc.getLatestPeriod()}}</span>
					<h5>Profit</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">{{hc.getProfitValue() | currency:'\u20AC'}}</h1>
					<div  ng-if="hc.getPercentageProfitChange()>=0" class="stat-percent font-bold text-navy">{{hc.getPercentageProfitChange() | number:2}}%<i class="fa fa-level-up"></i></div>
					<div  ng-if="hc.getPercentageProfitChange()<0" class="stat-percent font-bold text-danger">{{hc.getPercentageProfitChange() | number:2}}%<i class="fa fa-level-down"></i></div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-primary pull-right">{{'dashboard_periodsPerAnno'|translate}}</span>
					<h5>{{'dashboard_storageFee'|translate}}</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">{{hc.getStorageFee()| number:2}}% p.a.</h1>
					<div  ng-if="hc.getPercentageStorageFeeChange()>=0" class="stat-percent font-bold text-navy">{{hc.getPercentageStorageFeeChange() | number:2}}%<i class="fa fa-level-up"></i></div>
					<div  ng-if="hc.getPercentageStorageFeeChange()<0" class="stat-percent font-bold text-danger">{{hc.getPercentageStorageFeeChange() | number:2}}%<i class="fa fa-level-down"></i></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-primary pull-right">{{'dashboard_period'|translate}} {{hc.getLatestPeriod()}}</span>
					<h5>{{'dashboard_currentOrders'|translate}}</h5>
				</div>
				<div class="ibox-content">
					<ul class="stat-list m-t-lg">
						<li>
							<h2 class="no-margins">{{hc.getNormalOrders()}}</h2>
							<small>{{'dashboard_standardPurchaseOrder'|translate}}</small>
							<div class="progress progress-mini">
								<div ng-style="{'width':hc.getNormalOrdersPercentage()+'%'}" class="progress-bar"></div>
							</div>
						</li>
						<li>
							<h2 class="no-margins ">{{hc.getFastOrders()}}</h2>
							<small>{{'dashboard_rushOrder'|translate}}</small>
							<div class="progress progress-mini">
								<div ng-style="{'width':hc.getFastOrdersPercentage()+'%'}" class="progress-bar"></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-primary pull-right">{{'dashboard_period'|translate}} {{hc.getLatestPeriod()}}</span>
					<h5>{{'dashboard_storagecosts'|translate}}</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">{{hc.getStoragecosts() | currency:'\u20AC'}}</h1>
					<div  ng-if="hc.getPercentageStoragecostsChange()>=0" class="stat-percent font-bold text-navy">{{hc.getPercentageStoragecostsChange() | number:2}}%<i class="fa fa-level-up"></i></div>
					<div  ng-if="hc.getPercentageStoragecostsChange()<0" class="stat-percent font-bold text-danger">{{hc.getPercentageStoragecostsChange() | number:2}}%<i class="fa fa-level-down"></i></div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-primary pull-right">{{'dashboard_allPeriods'|translate}}</span>
					<h5>&#216 {{'dashboard_averageStorevalue'|translate}}</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">{{hc.getAverageStorevalue() | currency:'\u20AC'}}</h1>
					<div  ng-if="hc.getPercentageAverageStockvalueChange()>=0" class="stat-percent font-bold text-navy">{{hc.getPercentageAverageStockvalueChange() | number:2}}%<i class="fa fa-level-up"></i></div>
					<div  ng-if="hc.getPercentageAverageStockvalueChange()<0" class="stat-percent font-bold text-danger">{{hc.getPercentageAverageStockvalueChange() | number:2}}%<i class="fa fa-level-down"></i></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="mctrl.isLoggedIn && hc.hasSimulationFiles">
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h2>{{'dashboard_stockMovement'|translate}}</h2>
				</div>
				<div class="ibox-content">
					<div id="stockMovement">
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h2>{{'dashboard_stockCostMovement'|translate}}</h2>
				</div>
				<div class="ibox-content">
					<div id="storeCosts">
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h2>{{'dashboard_profitMovement'|translate}}</h2>
				</div>
				<div class="ibox-content">
					<div id="sales">
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h2>{{'dashboard_idleTime'|translate}}</h2>
				</div>
				<div class="ibox-content">
					<div id="idle">
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h2>{{'dashboard_efficiency'|translate}}</h2>
				</div>
				<div class="ibox-content">
					<div id="effiency">
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h2>{{'dashboard_sellingWish'|translate}}</h2>
				</div>
				<div class="ibox-content">
					<div id="sellingUnit">
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h2>{{'dashboard_sales'|translate}}</h2>
				</div>
				<div class="ibox-content">
					<div id="sellingSource">
					</div>
				</div>
			</div>
		</div>
</div>
<!--row-->
</div>
<!--Wrapper-->
