<meta charset="utf-8">
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Dashboard</h2>
		<ol class="breadcrumb">
			<li>
				<a href="/#/">Home</a>
			</li>
			<li class="active">
				<strong>Dashboard</strong>
			</li>
		</ol>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div ng-if="!mctrl.isLoggedIn">
			<div class="col-lg-4">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>{{'dashboard_login'|translate}}</h5>
					</div>
					<div class="ibox-content">
						<div class="text-center">
							<a data-toggle="modal" class="btn btn-primary" href="/#/login">Login</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="mctrl.isLoggedIn">
			<div class="col-lg-4" style="width: 50%">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h2>{{'dashboard_stockMovement'|translate}}</h2>
					</div>
					<div class="ibox-content">
						<div id="stockMovement">
						</div>
					</div>
				</div>
		</div>
		<div class="col-lg-3" style="width: 25%;">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-primary pull-right">{{'dashboard_period'|translate}} {{hc.getLatestPeriod()}}</span>
					<h5>{{'dashboard_stockValue'|translate}}</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">{{hc.getStockValue() | currency:'\u20AC'}}</h1>
					<div  ng-if="hc.getPercentageStockChange()>=0" class="stat-percent font-bold text-navy">{{hc.getPercentageStockChange() | number:2}}%<i class="fa fa-level-up"></i></div>
					<div  ng-if="hc.getPercentageStockChange()<0" class="stat-percent font-bold text-danger">{{hc.getPercentageStockChange() | number:2}}%<i class="fa fa-level-down"></i></div>
				</div>
			</div>
		</div>
		<div class="col-lg-3"  style="width: 25%;">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-primary pull-right">{{'dashboard_period'|translate}} {{hc.getLatestPeriod()}}</span>
					<h5>Profit</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">{{hc.getProfitValue() | currency:'\u20AC'}}</h1>
					<div  ng-if="hc.getPercentageProfitChange()>=0" class="stat-percent font-bold text-navy">{{hc.getPercentageProfitChange() | number:2}}%<i class="fa fa-level-up"></i></div>
					<div  ng-if="hc.getPercentageProfitChange()<0" class="stat-percent font-bold text-danger">{{hc.getPercentageProfitChange() | number:2}}%<i class="fa fa-level-down"></i></div>
				</div>
			</div>
		</div>
		<div class="col-md-4" style="width: 50%;">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-success pull-right">{{'dashboard_period'|translate}} {{hc.getLatestPeriod()}}</span>
					<h5>{{'dashboard_currentOrders'|translate}}</h5>
				</div>
				<div class="ibox-content">
					<ul class="stat-list m-t-lg">
						<li>
							<h2 class="no-margins">{{hc.getNormalOrders()}}</h2>
							<small>{{'dashboard_standardPurchaseOrder'|translate}}</small>
							<div class="progress progress-mini">
								<div ng-style="{'width':hc.getNormalOrdersPercentage()+'%'}" class="progress-bar"></div>
							</div>
						</li>
						<li>
							<h2 class="no-margins ">{{hc.getFastOrders()}}</h2>
							<small>{{'dashboard_rushOrder'|translate}}</small>
							<div class="progress progress-mini">
								<div ng-style="{'width':hc.getFastOrdersPercentage()+'%'}" class="progress-bar"></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="mctrl.isLoggedIn">
		<div class="col-lg-4" style="width: 50%">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h2>{{'dashboard_stockCostMovement'|translate}}</h2>
				</div>
				<div class="ibox-content">
					<div id="storeCosts">
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4" style="width: 50%">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h2>{{'dashboard_profitMovement'|translate}}</h2>
				</div>
				<div class="ibox-content">
					<div id="sales">
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4" style="width: 50%">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h2>{{'dashboard_idleTime'|translate}}</h2>
				</div>
				<div class="ibox-content">
					<div id="idle">
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4" style="width: 50%">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h2>{{'dashboard_efficiency'|translate}}</h2>
				</div>
				<div class="ibox-content">
					<div id="effiency">
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4" style="width: 50%">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h2>{{'dashboard_sellingWish'|translate}}</h2>
				</div>
				<div class="ibox-content">
					<div id="sellingUnit">
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4" style="width: 50%">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h2>{{'dashboard_sales'|translate}}</h2>
				</div>
				<div class="ibox-content">
					<div id="sellingSource">
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
</div>
