<section id="produktionsprogramm">
    <div id="test" class="container">
        <table class="table table-bordered text-center table-hover table-condensed">
            <tr>
                <th class="text-center">Periode</th>
                <th class="text-center">1</th>
                <th class="text-center">2</th>
                <th class="text-center">3</th>
                <th class="text-center">4</th>
            </tr>
            <tr>
                <td>P1</td>
                <td><input type="number" ng-model="pc.programmService.getProgrammposition(1,1).menge"></td>
                <td><input type="number" ng-model="pc.programmService.getProgrammposition(1,2).menge"></td>
                <td><input type="number" ng-model="pc.programmService.getProgrammposition(1,3).menge"></td>
                <td><input type="number" ng-model="pc.programmService.getProgrammposition(1,4).menge"></td>
             </tr>
            <tr>
                <td>P2</td>
                <td><input type="number" ng-model="pc.programmService.getProgrammposition(2,1).menge"></td>
                <td><input type="number" ng-model="pc.programmService.getProgrammposition(2,2).menge"></td>
                <td><input type="number" ng-model="pc.programmService.getProgrammposition(2,3).menge"></td>
                <td><input type="number" ng-model="pc.programmService.getProgrammposition(2,4).menge"></td>
            </tr>
            <tr>
                <td>P3</td>
                <td><input type="number" ng-model="pc.programmService.getProgrammposition(3,1).menge"></td>
                <td><input type="number" ng-model="pc.programmService.getProgrammposition(3,2).menge"></td>
                <td><input type="number" ng-model="pc.programmService.getProgrammposition(3,3).menge"></td>
                <td><input type="number" ng-model="pc.programmService.getProgrammposition(3,4).menge"></td>
            </tr>
        </table>
    </div>
</section>