<section>
		<a href="download">Click here to download gulpfile.js</a>
		<input id="input" type='file' onchange='handleFile(this.files)'><br>
		<div id="output">
			{{fc.test}}
			{{fc.teil}}
		</div>
		<div id="output2"></div>
</section>
<script>
		var handleFile = function(files) {
    
			var selectedFile = files[0];
			var size = selectedFile.size;
			var type = selectedFile.type;
			var x2js = new X2JS();
			var result;	
			
			var reader = new FileReader();
			
			reader.onload = function(e) {
			result = reader.result;
			
			var json = x2js.xml_str2json(result);
			
			document.getElementById('output').innerHTML='Groesse: '+size+' Type: '+type+' Inhalt: '+JSON.stringify(json);
			document.getElementById('output2').innerHTML='';
			}
			
			reader.readAsText(selectedFile);
		}		
	</script>