

<input type="number" ng-model="fc.id">
<button ng-click="fc.startTest()">Berechne</button>
<button ng-click="fc.change()">dsfsdfds</button>
{{fc.anzahl}}
<br>
<button ng-click="fc.sendPostRequest()">Request</button> {{fc.result}} <br>
<a ng-if="fc.dateiService.dateiErzeugt" ng-href="/download?dateiName={{fc.dateiService.dateiName}}" target="_blank">Click here to download gulpfile.js</a><br>
<input id="dateiInput" type='file' onchange="verarbeiteDatei(this.files)">

<script>
		var verarbeiteDatei= function(dateien) {
    		
			var datei = dateien[0];
			var size = datei.size;
			var type = datei.type;
			if (type !== 'text/plain') {
				alert('Ungültiges Dateiformat.');
				return;
			}
			var x2js = new X2JS();
			var result;	
			
			var reader = new FileReader();
			
			reader.onload = function(e) {
				result = reader.result;
			
				var json = x2js.xml_str2json(result);
			
				var text = JSON.stringify(json);
				var obj = JSON.parse(text);
			
				var dateiInput = document.getElementById('dateiInput');
				angular.element(dateiInput).controller().change(obj);
			}
			reader.readAsText(datei);
		}		
</script>