<head>
	<style>
		.fileUpload {
			position: relative;
			overflow: hidden;
			margin-left: 15px;
		}
		.fileUpload input.upload {
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			font-size: 20px;
			cursor: pointer;
			opacity: 0;
			filter: alpha(opacity=0);
		}
</style>
</head>
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Datei</h2>
		<ol class="breadcrumb">
			<li>
				<a href="/#/">Home</a>
			</li>
			<li class="active">
				<strong>Datei</strong>
			</li>
		</ol>
	</div>
</div>
<div class="container">
	<div class="wrapper-content animated fadeInRight" style="text-align: left;">
		<div class="ibox">
			<div class="ibox-content">
				<div class="row">
					<form>
						<div class="form-group">
							<div class="col-md-12"><h3>Simulationsdatei hochladen</h3></div>
							<div class="fileUpload btn btn-success " style="width: 200px;">
								<div class="col-md-12">
									<i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">Datei hochladen</span>
									<input type="file" id="dateiInput" onchange="verarbeiteDatei(this.files)" class="upload">
								</div>
							</div>
						</div>
					</form>
				</div><!-- /row -->
			</div><!--/ibox-content -->
		</div><!-- /ibox -->
		<div class="ibox">
			<div class="ibox-content">
			<!--<div class="jumbotron">-->
				<div class="row">
					<div class="col-md-12"><h3>Fertig mit der Eingabe? Dann erstellen Sie hier eine Datei für die Simulation!</h3></div>
				</div>
				<div class="row">
					<div class="col-md-12"><button style="width: 200px;" class="btn btn-success" ng-click="fc.sendPostRequest()"><i class="fa fa-download"></i>&nbsp;&nbsp;<span class="bold">Datei erstellen</span></button></div>
				</div>
				<div class="row">
					<div ng-if="fc.dateiService.dateiErzeugt" class="col-md-12">
						<a ng-href="/download?dateiName={{fc.dateiService.dateiName}}" target="_blank">
						<button class="btn btn-warning btn-lg btn-block">
						{{fc.result}} downloaden.
						</button></a>
					</div>
				</div><!-- /row -->
			</div><!--/ibox-content -->
		</div> <!-- /ibox -->
	</div><!-- /wrapper -->
</div><!-- /container -->
<script>
		var verarbeiteDatei= function(dateien) {
    		
			var datei = dateien[0];
			var type = datei.type;
			if (type !== 'text/plain') {
				alert('Ungültiges Dateiformat.');
				return;
			}
			var x2js = new X2JS();
			var result;	
			
			var reader = new FileReader();
			
			reader.onload = function(e) {
				result = reader.result;
			
				var json = x2js.xml_str2json(result);
			
				var text = JSON.stringify(json);
				var obj = JSON.parse(text);
			
				var dateiInput = document.getElementById('dateiInput');
				angular.element(dateiInput).controller().change(obj);
			}
			reader.readAsText(datei);
		}		
</script>