<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{'capacityPlanning_headline'|translate}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/#/">Home</a>
            </li>
            <li class="active">
                <strong>{{'capacityPlanning_headline'|translate}}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{'capacityPlanning_headline'|translate}}</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{'capacityPlanning_Workplace'|translate}}</th>
                                <th>{{'capacityPlanning_WorkingHours'|translate}}</th>
                                <th>{{'capacityPlanning_timeAvailable'|translate}}</th>
                                <th>{{'capacityPlanning_amountOrders'|translate}}</th>
                                <th>{{'capacityPlanning_Shifts'|translate}}</th>
                                <th>{{'capacityPlanning_overtime'|translate}}</th>
                         
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="model in kpc.models">
                                <td>{{model.name.split("_")[0]}}</td>
                                <td>{{model.arbeitsplatz.arbeitszeit}}</td>
                                <td>{{model.zeitVerfuegung}}</td>
                                <td>{{model.arbeitsplatz.auftraege.length+model.arbeitsplatz.arbeitsplatzFremdeAuftraege.length}}</td>
                                <td>
                                    <select class="form-control" ng-model="model.anzahlSchichten" ng-selected="kpc.aendern()" style="width:70px;">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </td>
                                <td>
                                    <input class="form-control" ng-model="model.ueberstunden" ng-keyup="kpc.aendern()" style="width:50px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{'capacityPlanning_automaticCalculation'|translate}}</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <button class="btn btn-primary" type="submit" ng-click="kpc.reset()">{{'capacityPlanning_deleteWorkingHours'|translate}}</button>
                        <button class="btn btn-primary" type="submit" ng-click="kpc.berechnen()">{{'capacityPlanning_calculateWorkingHours'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>