<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Kapazitätsplanung</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/#/">Home</a>
            </li>
            <li class="active">
                <strong>Kapazitätsplanung</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Kapazitätsplanung</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Arbeitszeit</th>
                                <th>Verfügbare Zeit</th>
                                <th>Anzahl Aufträge</th>
                                <th>Anzahl arbeitsplatzfremder Aufträge</th>
                                <th>Anzahl Schichten</th>
                                <th>Überstunden</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="model in kpc.models">
                                <td>{{model.name.split("_")[0]}}</td>
                                <td>{{model.arbeitsplatz.arbeitszeit}}</td>
                                <td>{{model.zeitVerfuegung}}</td>
                                <td>{{model.arbeitsplatz.auftraege.length}}</td>
                                <td>{{model.arbeitsplatz.arbeitsplatzFremdeAuftraege.length}}</td>
                                <td>
                                    <select class="form-control" ng-model="model.anzahlSchichten" ng-selected="kpc.aendern()" style="width:70px;">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </td>
                                <td>
                                    <input class="form-control" ng-model="model.ueberstunden" ng-keyup="kpc.aendern()" style="width:50px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Automatische Berechnung</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <button class="btn btn-primary" type="submit" ng-click="kpc.reset()">Arbeitszeiten löschen</button>
                        <button class="btn btn-primary" type="submit" ng-click="kpc.berechnen()">Arbeitszeiten automatisch berechnen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h5>{{kpc.kapazitaetsplanungService.arbeitsplatzService.fertigungsreihen}}</h5>
</div>