<h1 >Kapazitaetsplanung</h1>

<h1>{{1+1}}</h1>
<button ng-click="arbeitsplaetzeSetzten()">click</button>

<div>
    <table align="center" class="table table-striped table-hover ">
        <tr>
            <th>{{'orderManagment_id'|translate}}</th>
            <th>{{'orderManagment_deliveryTime'|translate}}</th>
            <th>{{'orderManagment_deliveryTimeDeviance'|translate}}</th>
            <th>{{'orderManagment_inventoryDays'|translate}}</th>
            <th>{{'orderManagment_warehouseStocks'|translate}}</th>
            <th>{{'orderManagment_demand'|translate}}1</th>
            <th>{{'orderManagment_demand'|translate}}2</th>
            <th>{{'orderManagment_demand'|translate}}3</th>
            <th>{{'orderManagment_demand'|translate}}4</th>
            <th>{{'orderManagment_discount'|translate}}</th>
            <th>{{'orderManagment_orderQuantity'|translate}}</th>
            <th>{{'orderManagment_instantOrder'|translate}}1</th>
        </tr>
        <tr ng-repeat="teil in kpc.liste">
            <td>K{{teil.id}}</td>
            <td>{{teil.lieferzeitNormal}}</td>
            <td>{{teil.lieferAbweichung}}</td>
            <td>{{teil.reichweite}}</td>
            <td>{{teil.lagerstand}}</td>
            <td>{{teil.bedarfPeriode[0]}}</td>
            <td>{{teil.bedarfPeriode[1]}}</td>
            <td>{{teil.bedarfPeriode[2]}}</td>
            <td>{{teil.bedarfPeriode[3]}}</td>
            <td>{{teil.rabattmenge}}</td>
            <td><input class="form-control" type="text" value={{teil.bestellmenge}}></td>
            <td><input type="checkbox"></td>
        </tr>
    </table>
</div>