<section>
	<div class="container">
		<div class="wrapper-content animated fadeInRight">
			<div class="row">
				<div class="col-lg-12">
					<div class="ibox">
						<div class="ibox-title">
							<h2>Detailainsicht für Kaufteil {{dbvc.teil_id}} {{dbvc.kaufTeil.bezeichnung}}</h2>
						</div>
						<div class="ibox-content">
							<table class="table table-bordered text-center table-condensed">
								<tr>
									<th>MFW</th>
									<th class="text-center">Preis</th>
									<th class="text-center">Teile-<br>wert</th>
									<th class="text-center">Lager-<br>menge</th>
									<th class="text-center">Discont-<br>menge</th>
									<th class="text-center">WBZ &plusmn<br>Abweichung</th>
									<th class="text-center">Bestell-<br>kosten</th>
									<th class="text-center">Verbrauch <br> aktuell</th>
									<th class="text-center">Verbrauch <br> Periode {{dbvc.periode+1}}</th>
									<th class="text-center">Verbrauch <br> Periode {{dbvc.periode+2}}</th>
									<th class="text-center">Verbrauch <br> Periode {{dbvc.periode+3}}</th>
									<th class="text-center">Reichweite</th>
								</tr>
								<tr  ng-class="{danger: dbvc.zeileRot(), warning: dbvc.zeileGelb()}">
									<td>
										<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="dbvc.kaufTeil.mfw"></span>
										<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-if="!dbvc.kaufTeil.mfw"></span>
									</td>
									<td>{{dbvc.kaufTeil.preis | currency:"€"}}</td>
									<td>{{dbvc.kaufTeil.teileWert | currency:"€"}}</td>
									<td>{{dbvc.kaufTeil.lagerMenge}}</td>
									<td>{{dbvc.kaufTeil.discontMenge}}</td>
									<td>{{dbvc.kaufTeil.wbz}} &plusmn ({{dbvc.kaufTeil.wbzAbw}})</td>
									<td>{{dbvc.kaufTeil.bestellKosten}}</td>
									<td>{{dbvc.verbrauchAktuell}}</td>
									<td>{{dbvc.verbrauch1}}</td>
									<td>{{dbvc.verbrauch2}}</td>
									<td>{{dbvc.verbrauch3}}</td>
									<td>{{dbvc.reichweite}}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="ibox">
						<div class="ibox-title"><h2>Neue Bestellungen</h2></div>
						<div class="ibox-content">
							<table class="table table-bordered text-center table-hover table-condensed">
								<tr>
									<th class="text-center">Eil</th>
									<th class="text-center">Menge</th>
									<th class="text-center">Kosten</th>
									<th class="text-center"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></th>
								</tr>
								<tr ng-repeat="bestellung in dbvc.neueBestellungen">
									<td>
										<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="bestellung.eil"></span>
										<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-if="!bestellung.eil"></span>
									</td>
									<td>{{bestellung.menge}}</td>
									<td>{{bestellung.kosten | currency:"€"}}</td>
									<td>
										<button type="button" class="btn btn-danger btn-sm btn-circle" ng-click="dbvc.deleteNeueBestellung(bestellung)">
											<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
										</button>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="ibox">
						<div class="ibox-title"><h2>Neue Bestellung anlegen</h2></div>
						<div class="ibox-content">
							<form>
								<div class="form-group">
									<label for="mengeInput" class="sr-only">Menge</label>
									<input type="number" placeholder="Menge" class="form-control" id="mengeInput" min="1" ng-model="dbvc.neueBestellung.menge">
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="dbvc.neueBestellung.eil">Eilbestellung
									</label>
								</div>
								<button class="btn btn.white" type="submit" ng-click="dbvc.createNeueBestellung()">Anlegen</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>