<section>
	<div class="container">
		<h2>Erweitert</h2>
		<div class="panel panel-default" toggle ng-repeat="model in ec.neuBestellungen">
  			<div class="panel-heading">
   				<h3 class="panel-title">Bestellung für Kaufteil {{model.kaufTeil.id}}</h3>
  			</div>
  			<div class="panel-body">
    			<div class="row">
					<div class="col-md-2">Bestellkosten: {{model.kaufTeil.bestellKosten | currency:"€"}}</div>
					<div class="col-md-2">Teilewert: {{model.kaufTeil.teileWert | currency:"€"}}</div>
					<div class="col-md-3">Menge: <input type="number" ng-model="model.bestellung.menge"></div>
					<div class="col-md-3">Gesamtkosten: {{ec.getGesamtKosten(model) | currency:"€"}}</div>
				</div>
				<div class="row">
				</div>
 			 </div>
		</div>
	</div>
</section>