<section id="bestellverwaltung">
	<style>
		.curs {
			cursor: pointer;
		}
	</style>
	<div id="test" class="container">
		<table class="table table-bordered text-center table-hover table-condensed">
			<tr>
				<th class="text-center curs" ng-click="ktdc.sortieren('id')">Id</th>
				<th class="text-center">MFW</th>
				<th class="text-center curs" ng-click="ktdc.sortieren('teileWert')">Teile-<br>wert</th>
				<th class="text-center curs" ng-click="ktdc.sortieren('wbz')">WBZ&nbsp&plusmn<br>Abweichung</th>
				<th class="text-center curs" ng-click="ktdc.sortieren('discontMenge')">Discont-<br>menge</th>
				<th class="text-center curs" ng-click="ktdc.sortieren('bestellKosten')">Bestellkosten</th>
				<th class="text-center curs" ng-click="ktdc.sortieren('reichweite')">Reich-<br>weite</th>
				<th class="text-center curs" ng-click="ktdc.sortieren('lagerMenge')">Lager-<br>menge</th>
				<th class="text-center curs" ng-click="ktdc.sortieren('verbrauch1')">Verbrauch<br>aktuell</th>
				<th class="text-center curs" ng-click="ktdc.sortieren('verbrauch2')">Verbrauch<br>n+1</th>
				<th class="text-center curs" ng-click="ktdc.sortieren('verbrauch3')">Verbrauch<br>n+2</th>
				<th class="text-center curs" ng-click="ktdc.sortieren('verbrauch4')">Verbrauch<br>n+3</th>
			</tr>
			<tr ng-repeat="teil in ktdc.alleKaufTeile"  ng-class="{danger: ktdc.mussBestellen(teil), warning: ktdc.sollteBestellen(teil)}" ng-attr-id="{{teil.id}}">
				<td>{{::teil.id}}</td>
				<td>
					<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="teil.mfw"></span>
					<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-if="!teil.mfw"></span>
				</td>
				<td>{{::teil.teileWert | currency:"€"}}</td>
				<td>{{::teil.wbz}} &plusmn({{teil.wbzAbw}})</td>
				<td>{{::teil.discontMenge}}</td>
				<td>{{::teil.bestellKosten | currency:"€"}}</td>
				<td>{{::teil.reichweite | number:2}}</td>
				<td>{{::teil.lagerMenge}}</td>
				<td>{{::teil.verbrauch1}}</td>
				<td>{{::teil.verbrauch2}}</td>
				<td>{{::teil.verbrauch3}}</td>
				<td>{{::teil.verbrauch4}}</td>
				<td><button type="button" class="btn btn-primary">Bestellen</button></td>
			</tr>
		</table>
	</div>
</section>