<section id="bestellverwaltung">
	<style>
		.curs {
			cursor: pointer;
		}
	</style>
	<div id="tablecontainer" class="container">
		<table class="table table-bordered text-center table-hover table-condensed">
			<tr>
				<th class="text-center curs" ng-click="ktdc.sortieren('id')">Id</th>
				<th class="text-center">MFW</th>
				<th class="text-center curs" ng-click="ktdc.sortieren('teileWert')">Teile-<br>wert</th>
				<th class="text-center curs" ng-click="ktdc.sortieren('wbz')">WBZ&nbsp&plusmn<br>Abweichung</th>
				<th class="text-center curs" ng-click="ktdc.sortieren('discontMenge')">Discont-<br>menge</th>
				<th class="text-center curs" ng-click="ktdc.sortieren('bestellKosten')">Bestellkosten</th>
				<th class="text-center curs" ng-click="ktdc.sortieren('reichweite')">Reich-<br>weite</th>
				<th class="text-center curs" ng-click="ktdc.sortieren('lagerMenge')">Lager-<br>menge</th>
				<th class="text-center curs" ng-click="ktdc.sortieren('verbrauch1')">Verbrauch<br>aktuell</th>
				<th class="text-center curs" ng-click="ktdc.sortieren('verbrauch2')">Verbrauch<br>n+1</th>
				<th class="text-center curs" ng-click="ktdc.sortieren('verbrauch3')">Verbrauch<br>n+2</th>
				<th class="text-center curs" ng-click="ktdc.sortieren('verbrauch4')">Verbrauch<br>n+3</th>
			</tr>
			<tr class="curs" ng-repeat="teil in ktdc.alleKaufTeile"  ng-class="{danger: ktdc.mussBestellen(teil), warning: ktdc.sollteBestellen(teil)}"
			ng-click="ktdc.select(teil)" fade out="tablecontainer" in="details">
				<td>{{::teil.id}}</td>
				<td>
					<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="teil.mfw"></span>
					<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-if="!teil.mfw"></span>
				</td>
				<td>{{::teil.teileWert | currency:"€"}}</td>
				<td>{{::teil.wbz}} &plusmn({{teil.wbzAbw}})</td>
				<td>{{::teil.discontMenge}}</td>
				<td>{{::teil.bestellKosten | currency:"€"}}</td>
				<td>{{::teil.reichweite | number:2}}</td>
				<td>{{::teil.lagerMenge}}</td>
				<td>{{::teil.verbrauch1}}</td>
				<td>{{::teil.verbrauch2}}</td>
				<td>{{::teil.verbrauch3}}</td>
				<td>{{::teil.verbrauch4}}</td>
			</tr>
		</table>
	</div>
	<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	<div id ="details" class="container" style="display:none">
		<div class="row">
			 <div class="col-md-8"><h2>Ansicht für Kaufteil {{ktdc.selectedViewModel.id}}</h2></div>
			 <div class="col-md-4 "><button type="button" class="btn btn-info btn-block btn-lg" fade out="details" in="tablecontainer">Zurück</button></div>
		</div>
		<div class="row">
			 <div class="col-md-12 ">
				<table class="table table-bordered text-center table-condensed">
				<tr>
					<th class="text-center">Id</th>
					<th class="text-center">MFW</th>
					<th class="text-center">Teile-<br>wert</th>
					<th class="text-center">WBZ&nbsp&plusmn<br>Abweichung</th>
					<th class="text-center">Discont-<br>menge</th>
					<th class="text-center">Bestellkosten</th>
					<th class="text-center">Reich-<br>weite</th>
					<th class="text-center">Lager-<br>menge</th>
					<th class="text-center">Verbrauch<br>aktuell</th>
					<th class="text-center">Verbrauch<br>n+1</th>
					<th class="text-center">Verbrauch<br>n+2</th>
					<th class="text-center">Verbrauch<br>n+3</th>
				</tr>
				<tr ng-class="{danger: ktdc.mussBestellen(ktdc.selectedViewModel), warning: ktdc.sollteBestellen(ktdc.selectedViewModel)}">
					<td>{{ktdc.selectedViewModel.id}}</td>
					<td>
						<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="ktdc.selectedViewModel.mfw"></span>
						<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-if="!ktdc.selectedViewModel.mfw"></span>
					</td>
					<td>{{ktdc.selectedViewModel.teileWert | currency:"€"}}</td>
					<td>{{ktdc.selectedViewModel.wbz}} &plusmn({{ktdc.selectedViewModel.wbzAbw}})</td>
					<td>{{ktdc.selectedViewModel.discontMenge}}</td>
					<td>{{ktdc.selectedViewModel.bestellKosten | currency:"€"}}</td>
					<td>{{ktdc.selectedViewModel.reichweite | number:2}}</td>
					<td>{{ktdc.selectedViewModel.lagerMenge}}</td>
					<td>{{ktdc.selectedViewModel.verbrauch1}}</td>
					<td>{{ktdc.selectedViewModel.verbrauch2}}</td>
					<td>{{ktdc.selectedViewModel.verbrauch3}}</td>
					<td>{{ktdc.selectedViewModel.verbrauch4}}</td>
				</tr>
			</table>
		</div>
		</div>
		<div class="jumbotron jumbotron-fluid">
			<div class="row ">
				<div class="col-md-12">
					<h3>Neue Bestellung erstellen</h3>
					<form>
						<div class="form-group">
							<label for="bestellmengeinput">Bestellmenge: </label>
							<input type="number" class="form-control" id="bestellmengeinput" placeholder="Bestellmenge" ng-model="ktdc.neuBestellung.menge">
							<label>
								<input type="checkbox" ng-model="ktdc.neuBestellung.eil"> Eilbestellung
							</label>
						</div>
					<form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 "><button type="button" class="btn btn-success btn-block" ng-click="ktdc.neueBestellungErstellen()">Erstellen</button></div>
			</div>
		</div>	
		<div class="row">
			<div class="col-md-5"><h3>Neue Bestellungen:</h3></div>
			<div class="col-md-7"><h3>Laufende Bestellungen:</h3></div>
		</div>
		<div class="row">
				<div class="col-md-5">
					<table class="table table-bordered text-center table-hover table-condensed">
					<tr>
						<th class="text-center">Menge</th>
						<th class="text-center">Eil</th>
						<th class="text-center">Kosten</th>
					</tr>
					<tr class="curs" ng-repeat="bestellung in ktdc.bestellService.neuBestellungen['k'+ktdc.selectedViewModel.id]" ng-click="ktdc.deleteNeueBestellung(bestellung)">
						<td>{{bestellung.menge}}</td>
						<td>{{bestellung.eil}}</td>
						<td>{{ktdc.getNeuBestellungsKosten(bestellung)| currency:"€"}}</td>
					</tr>
				</table>
			</div>
			<div class="col-md-7">
					<table class="table table-bordered text-center table-condensed">
					<tr>
						<th class="text-center">Menge</th>
						<th class="text-center">Eil</th>
						<th class="text-center">Periode</th>
						<th class="text-center">Kosten</th>
					</tr>
					<tr ng-repeat="bestellung in ktdc.getLaufendeBestellungen(ktdc.selectedViewModel.id)">
						<td>{{bestellung.menge}}</td>
						<td>{{bestellung.eil}}</td>
						<td>{{bestellung.periode}}</td>
						<td>{{ktdc.getLaufendeBestellungKosten(bestellung) | currency:"€"}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>