
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-10">
			<h2>{{'warehous_headline'|translate}}</h2>
			<ol class="breadcrumb">
				<li>
					<a href="/#/">Home</a>
				</li>
				<li class="active">
					<strong>{{'warehous_headline'|translate}}</strong>
				</li>
			</ol>
		</div>
	</div>
	<div class="wrapper wrapper-content animated fadeInRight">
			<div class="ibox">
				<div class="ibox-title">
					<ul class="nav nav-tabs">
						<li class="active" ng-click="lc.tabOnClick('statistik')">
							<a data-toggle="tab" href="" aria-expanded="true">{{'warehous_statistics'|translate}}</a>
						</li>
						<li ng-click="lc.tabOnClick('erzeugnisse')">
							<a data-toggle="tab" href="" aria-expanded="true">{{'warehous_manufacturedProducts'|translate}}</a>
						</li>
						<li ng-click="lc.tabOnClick('kaufTeile')">
							<a data-toggle="tab" href="" aria-expanded="true">{{'warehous_parts'|translate}}</a>
						</li>
					</ul>
				</div>
				<div class="ibox-content">
					<div class="tabs-container">
						<div ng-if="lc.showTab.statistik">
							<div class="row">
								<div class="col-lg-6">
									<div lagerpie ng-attr-erzeugnisse="{{lc.statistikService.getLagerWertErzeugnisse()}}" ng-attr-kaufteile="{{lc.statistikService.getLagerWertKaufTeile()}}">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="widget p-xl">
										<h2><b>{{'warehous_totalStockValue'|translate}}:  {{lc.getGesamtenLagerWert() | currency:'€'}}</b></h2>
										<ul>
											<li><h3>{{'warehous_manufacturedProducts'|translate}}:  {{lc.statistikService.getLagerWertErzeugnisse() | currency:'€'}}</h3></li>
											<li><h3>{{'warehous_parts'|translate}}:  {{lc.statistikService.getLagerWertKaufTeile() | currency:'€'}}</h3></li>
										</ul>
									</div>
								</div>
							</div> <!-- /row -->
							<div class="row">
								<div class="col-lg-12">
									<div lagercolumn ng-attr-title="Lagerwerte/Lagermenge Erzeugnisse" ng-attr-categories="{{lc.statistikService.getErzeugnisseCategories()}}"
										ng-attr-wertseries="{{lc.statistikService.getErzeugnisseLagerWertSeries()}}" 
										ng-attr-mengeseries="{{lc.statistikService.getErzeugnisseLagerMengeSeries()}}">
									</div>
								</div>
							</div> <!-- /row -->
							<div class="row">
								<div class="col-lg-12">
									<div lagercolumn ng-attr-title="Lagerwerte/Lagermenge Kaufteile" ng-attr-categories="{{lc.statistikService.getKaufTeileCategories()}}"
										ng-attr-wertseries="{{lc.statistikService.getKaufTeileLagerWertSeries()}}" 
										ng-attr-mengeseries="{{lc.statistikService.getKaufTeileLagerMengeSeries()}}">
									</div>
								</div>
							</div> <!-- /row -->
						</div><!-- /statistik -->	
						<div ng-if="lc.showTab.erzeugnisse">
							<table class="table table-bordered text-center table-hover table-condensed">
								<tr>
									<th class="text-center curs" ng-click="lc.sortiereErzeugnisse('id')">ID</th>
									<th class="text-center curs" ng-click="lc.sortiereErzeugnisse('bezeichnung')">{{'warehouse_description'|translate}}</th>
									<th class="text-center curs" ng-click="lc.sortiereErzeugnisse('mehrfachVerwendung')">{{'warehouse_multipleUsage'|translate}}</th>
									<th class="text-center curs" ng-click="lc.sortiereErzeugnisse('teileWert')">{{'warehous_partialValue'|translate}}</th>
									<th class="text-center curs" ng-click="lc.sortiereErzeugnisse('lagerMenge')">{{'warehous_stockQuantity'|translate}}</th>
									<th class="text-center curs" ng-click="lc.sortiereErzeugnisse('summe')">{{'warehous_stockValue'|translate}}</th>
								</tr>
								<tr ng-repeat="teil in lc.alleErzeugnisse">
									<td>{{::teil.id}}</td>
									<td>{{::teil.bezeichnung}}</td>
									<td>
										<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="teil.mehrfachVerwendung"></span>
										<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-if="!teil.mehrfachVerwendung"></span>
									</td>
									<td>{{::teil.teileWert | currency:"€"}}</td>
									<td>{{::teil.lagerMenge}}</td>
									<td>{{teil.lagerMenge * teil.teileWert | currency:'€'}}</td>
								</tr>
							</table>
						</div><!--/tab 1 -->
						<div class="tab-pane">
							<div ng-if="lc.showTab.kaufTeile">
								<table class="table table-bordered text-center table-hover table-condensed">
									<tr>
										<th class="text-center curs" ng-click="lc.sortiereKaufTeile('id')">ID</th>
										<th class="text-center curs" ng-click="lc.sortiereKaufTeile('bezeichnung')">{{'warehouse_description'|translate}}</th>
										<th class="text-center curs" ng-click="lc.sortiereKaufTeile('mfw')">{{'warehouse_multipleUsage'|translate}}</th>
										<th class="text-center curs" ng-click="lc.sortiereKaufTeile('teileWert')">{{'warehous_partialValue'|translate}}</th>
										<th class="text-center curs" ng-click="lc.sortiereKaufTeile('lagerMenge')">{{'warehous_stockQuantity'|translate}}</th>
										<th class="text-center curs" ng-click="lc.sortiereKaufTeile('summe')">{{'warehous_stockValue'|translate}}</th>
									</tr>
									<tr ng-repeat="teil in lc.alleKaufTeile">
										<td>{{::teil.id}}</td>
										<td>{{::teil.bezeichnung}}</td>
										<td>
											<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="teil.mfw"></span>
											<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-if="!teil.mfw"></span>
										</td>
										<td>{{::teil.teileWertNeu | currency:"€"}}</td>
										<td>{{::teil.lagerMenge}}</td>
										<td>{{teil.lagerMenge * teil.teileWert | currency:'€'}}</td>
									</tr>
								</table>
							</div>
						</div><!--/tab 2 -->
					</div>
				</div>
			</div>
		</div><!-- /wrapper -->
